<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Poodle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed">
  <link rel="stylesheet" href="/styles/index.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


  <link rel="stylesheet" type="text/css" href="/vendor/demo/css/semantic.ui.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/demo/css/prism.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/demo/css/calendar-style.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/demo/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/dist/css/pignose.calendar.css" />
  
  </style>

  <!-- TIMEPICKER -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/datetime.js"></script>
  
  <script type="text/javascript" src="/vendor/demo/js/jquery.latest.min.js"></script>
  <script type="text/javascript" src="/vendor/demo/js/moment.latest.min.js"></script>
  <script type="text/javascript" src="/vendor/demo/js/semantic.ui.min.js"></script>
  <script type="text/javascript" src="/vendor/demo/js/prism.min.js"></script>
  <script type="text/javascript" src="/vendor/dist/js/pignose.calendar.js"></script>
  <script type="text/javascript">



// CALENDAR FUNCTIONS 
    $(function () {
        $('#wrapper .version strong').text('v' + $.fn.pignoseCalendar.ComponentVersion);
        function onSelectHandler(date, context) {
    /**
     * @date is an array which be included dates(clicked date at first index)
     * @context is an object which stored calendar interal data.
     * @context.calendar is a root element reference.
     * @context.calendar is a calendar element reference.
     * @context.storage.activeDates is all toggled data, If you use toggle type calendar.
     * @context.storage.events is all events associated to this date
     */

            var $element = context.element;
            var $calendar = context.calendar;
            var $box = $element.siblings('.box').show();
            var text = 'You selected date ';

            if (date[0] !== null) {
                text += date[0].format('YYYY-MM-DD');
            }

            if (date[0] !== null && date[1] !== null) {
                text += ' ~ ';
            }
            else if (date[0] === null && date[1] == null) {
                text += 'nothing';
            }

            if (date[1] !== null) {
                text += date[1].format('YYYY-MM-DD');
            }

            $box.text(text);
        }

// CHOSE DATES
        function onApplyHandler(date, context) {
    /**
     * @date is an array which be included dates(clicked date at first index)
     * @context is an object which stored calendar interal data.
     * @context.calendar is a root element reference.
     * @context.calendar is a calendar element reference.
     * @context.storage.activeDatZes is all toggled data, If you use toggle type calendar.
     * @context.storage.events is all events associated to this date
     */

            var $element = context.element;
            var $calendar = context.calendar;
            var $box = $element.siblings('.box').show();
            var text = 'You applied date ';

            if (date[0] !== null) {
                text += date[0].format('YYYY-MM-DD');
            }

            if (date[0] !== null && date[1] !== null) {
                text += ' ~ ';
            }
            else if (date[0] === null && date[1] == null) {
                text += 'nothing';
            }

            if (date[1] !== null) {
                text += date[1].format('YYYY-MM-DD');
            }

            $box.text(text);
        }

        $()

        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '12am',
            maxTime: '11:30pm',
            defaultTime: '10am',
            dynamic: false,
            dropdown: true,
            scrollbar: false 
        });
        

        // Toggle type Calendar
        $('.toggle-calendar').pignoseCalendar({
            toggle: true,

            select: function (date, context) {
                var message = `You selected ${(date[0] === null ? 'null' : date[0].format('YYYY-MM-DD'))}.
             <br />
             <br />
            
            <h2 class="datesPicked">These are the dates & times you picked:</h2>
             <br />
             <br />
             <div class="active-dates"></div>`;
                var $target = context.calendar.parent().next().show().html(message);

                

                for (var idx in context.storage.activeDates) {
                    var date = context.storage.activeDates[idx];
                    if (typeof date !== 'string') {
                        continue;
                    }
                    var $activeDates = $target.find('.active-dates');
                    $activeDates.append('<span class="ui label default">' + date + '</span>');
                    var $form = $('<form>').appendTo($activeDates);
                    $('<input class="timepicker">').timepicker({
                        timeFormat: 'h:mm p',
                        interval: 30,
                        minTime: '12am',
                        maxTime: '11:30pm',
                        defaultTime: '10am',
                        dynamic: false,
                        dropdown: true,
                        scrollbar: false 
                    }).appendTo($form);

                }
            }
        });


    // Disabled date settings.
        // (function () {
        //     // IIFE Closure
        //     var times = 30;
        //     var disabledDates = [];
        //     for (var i = 0; i < times; /* Do not increase index */) {
        //         var year = moment().year();
        //         var month = 0;
        //         var day = parseInt(Math.random() * 364 + 1);
        //         var date = moment().year(year).month(month).date(day).format('YYYY-MM-DD');
        //         if ($.inArray(date, disabledDates) === -1) {
        //             disabledDates.push(date);
        //             i++;
        //         }
        //     }

        //     disabledDates.sort();

        //     var $dates = $('.disabled-dates-calendar').siblings('.guide').find('.guide-dates');
        //     for (var idx in disabledDates) {
        //         $dates.append('<span>' + disabledDates[idx] + '</span>');
        //     }

        //     $('.disabled-dates-calendar').pignoseCalendar({
        //         select: onSelectHandler,
        //         disabledDates: disabledDates
        //     });
        // }());


        // // Disabled Range Calendar.
        // var minDate = moment().set('dates', Math.min(moment().day(), 2 + 1)).format('YYYY-MM-DD');
        // var maxDate = moment().set('dates', Math.max(moment().day(), 24 + 1)).format('YYYY-MM-DD');
        // $('.disabled-range-calendar').pignoseCalendar({
        //     select: onSelectHandler,
        //     minDate: minDate,
        //     maxDate: maxDate
        // });

        // // Disabled Ranges Calendar.
        // $('.disabled-ranges-calendar').pignoseCalendar({
        //     select: onSelectHandler,
        //     disabledRanges: [
        //         ['2000-10-05', '2017-10-29'],
        //     ]
        // });

    });
//]]>

</script>
  <title>Dates & Times</title>
</head>
<body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <% include partials/_header %>  

<center><span><h3>BECOME A POODLR AND PLAN YOUR EVENT</h3></span></center>


<div id="toggle Center" class="article">
        <div class="toggle-calendar"></div>
    
    <!-- <div id="toggle" class="article"></div> -->
<!-- <div id="wrapper">
  <div id="toggle Center" class="article">
  <div class="toggle-calendar"></div>
</div> -->


<section class="datesPicked">
<div class="active-dates">
</div>

<form><input class="timepicker"></form>
<!-- 
<form action="/:id/dates" method="POST">
</form> -->
</section>



<!-- ///////////////////// -->






<form class='form' method='POST' action='/events/:id/dates'>
    <p><button class='btn btn-danger' type='submit'>Confirm those Poodle times!</button></p>
</form>
<!-- ////////////////// -->


 
  </div>

  
</body>
</html>
