<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Poodle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed">
  <link rel="stylesheet" href="/styles/index.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/styles/skeleton.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
  <% include partials/_header %>
  <container class="container">
    <content class="row justify-content-center">
      <h3>Time to Poodle!</h3>
    </content>
    <content class="row justify-content-center">
      <h3><%= `${event.title} by ${organizer.name} - ${organizer.email}` %></h3>
    </content>
    <content class="row justify-content-center">
      <p><%= event.description %></p>
    </content>
    <content id="schedule_options" class="container">
      <div class="row justify-content-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <% for (var option in schedule_options) { %>
                  <th scope="col"><%= `${schedule_options[option].date} / ${schedule_options[option].time}` %></th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% for (var attendee in attendees) { %>
                <tr>
                  <th>
                    <p>Attendee Name/Email</p>
                  </th>
                  <% for (var option in schedule_options) { %>
                    <% var active = false; %>
                    <% for (var select in selected) { %>
                      <% if (selected[select].attendee === attendees[attendee] && schedule_options[option].id === selected[select].option) { %>
                        <% active = true; %>
                      <% } %>
                    <% } %>
                    <% if (active) { %>
                      <td>
                        <button type="button" class="btn btn-danger active" data-toggle="button" aria-pressed="false" autocomplete="off">
                          Poodle
                        </button>
                      </td>
                    <% } else { %>
                      <td>
                        <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                          Poodle
                        </button>
                      </td>
                    <% } %>
                  <% } %>
                </tr>
              <% } %>
              <tr>
                <th scope="row">
                    <form class='form' method='POST' action='/events/:id'>
                      <p class='form-group'>
                        <input class='form-control' type='text' name='name' placeholder="Name"/>
                      </p>
                      <p class='form-group'>
                        <input class='form-control' type='email' name='email' placeholder="Email"/>
                      </p>
                </th>
                  <% for (var option in schedule_options) { %>
                    <td>
                      <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Poodle
                      </button>
                    </td>
                  <% } %>
              </tr>
            </tbody>
          </table>
      </div>
    </content>
    <p class="row justify-content-center">
      <button class='btn btn-danger' type='submit'>Confirm those Poodle selections!</button>
    </form>
    </p>
  </container>
</body>
</html>
