<!DOCTYPE html>
<html lang="en">
<head>

<!-- CSS INPUT -->
<link rel="stylesheet" href="/styles/starting.css" type="text/css" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Poodlr Create</title>

</head>
<body>
  
    <div class="row">
        <div class="six columns">
          
      
      
      <label for="exampleMessage">Description</label><br />
      <form action="/<%= id%>/owner" method="POST">
        <label for="exampleEmailInput">Your name:</label>
        <br />
        <input class="u-full-width" type="text" placeholder="Hiking" name="name">
      <textarea class="u-full-width" placeholder="Let's take our poodles and go hiking." name="email" id="exampleMessage"></textarea><br />
        <button type="submit">Submit</button>
      </form>

        </div>
        
    </div>
  

</body>
</html>
