$primary-font: 'Lobster', cursive;
$secondary-font: 'Roboto Condensed', sans-serif;

#header.jumbotron {
    background-color: #FF4B9B;
    border-radius: 0;
    height: 160px;
    margin: 0;
    padding: 20px 32px;

    h1 {
        color: white;
        font: 55px "Lobster", cursive;
        left: 10px;
        position: relative;
        top: 20px;
    }

    img {
        border-radius: 10px;
        float: left;
        height: 100px;
        margin: 10px;
        top: -100px;
    }
}



content {
    font: 100% $secondary-font;
    margin: 50px;
    
    a.align-middle {
        margin: 100px;
    }
}

container {
    content {
        margin-bottom: 10px;
        margin-top: 0;

        p {
            width: 50%;
        }
    }
}

#schedule_options {
    .table {
        width: 50%;

        img {
            height: 100px;
        }
    }

    row {
        margin: 0;

        colu {
            padding: 10px;
        }

        img {
            height: 100px;
        }
    }
}
